@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);

html, body, div, canvas {
	margin: 0px;
	padding: 0px;
}

div {
  font-family: 'Press Start 2P';
  font-size: 7;
}

#game {
	background-color: #000000;
}

#main {
	position: fixed;
}

#labels {
	color: #fff;
	position: relative;
}

.label {
	position: absolute;
	padding-left: 5px;
	padding-top: 5px;
	width: 100%;
}

#label_1 {
	top: -300px;
	left: 0px;
}