@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);

html, body, div, canvas {
	margin: 0px;
	padding: 0px;
}

div {
  font-family: 'Press Start 2P';
  font-size: 7;
}

#game {
	background-color: #000000;
}

#main {
	position: fixed;
}

#labels {
	color: #fff;
	position: relative;
}

.label {
	position: absolute;
	text-align: center;
	width: 100%;
}

#label_1 {
	top: -210px;
	left: 0px;
}

#label_2 {
	top: -190px;
	left: 0px;
}

#label_3 {
	top: -170px;
	left: 0px;
}

#label_4 {
	color: #0f0;
	top: -120px;
	left: 0px;
}