	<!-- This is what will render the canvas. This needs to be here. There is nothing preventing
	you from adding more HTML if that is what you want, though. -->

	<!-- The content of this file will be inserted in index.html when you run the proper grunt task -->

	<!-- div #main and canvas #game need to be here for this whole contraption to work. -->
	<div id="main">
		<canvas id="game" width="<%= size.width %>" height="<%= size.height %>">
			Sorry, your web browser does not support Canvas content.
		</canvas>		
	</div>