@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);

html, body, div, canvas {
	margin: 0px;
	padding: 0px;
}

div {
  font-family: 'Press Start 2P';
  font-size: 7;
}

#game {
	background-color: #000000;
}

#main {
	position: relative;
}