@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);

div {
  font-family: 'Press Start 2P';
  font-size: 12px
}

#game {
	background-color: #000000;
}

#main {
	position: fixed;
}

#labels {
	color: #fff;
	position: relative;
}

.label {
	position: absolute;
	padding-left: 5px;
	padding-top: 5px;
	width: 100%;
}

#label_1 {
	top: -300px;
	left: 0px;
}

#label_2 {
	top: -280px;
	left: 0px;
}

#label_3 {
	top: -260px;
	left: 0px;
}

#label_4 {
	top: -240px;
	left: 0px;
}

#label_5 {
	top: -220px;
	left: 0px;
}

#label_6 {
	top: -200px;
	left: 0px;
}

#label_7 {
	color: #f00;
	top: -180px;
	left: 0px;
}