@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);

div {
  font-family: 'Press Start 2P';
}

#game {
	background-color: #000000;
}

#main {
	position: fixed;
}

#labels {
	color: #fff;
	position: relative;
}

.label {
	position: absolute;
	text-align: center;
	width: 100%;
}

#label_1 {
	top: -150px;
	left: 0px;
}