@import url("../bower_components/bootstrap.css/css/bootstrap.css");

@font-face {
  font-family: 'Press Start 2P';
}

body {
  margin: 0;
  font-family: 'Press Start 2P';
  font-size: 14px;
  line-height: 20px;
  color: #777777;
  background-color: #000000;
}

.hero-unit {
  padding: 30px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  background-color: #eeeeee;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}

.hero-unit h1 {
  margin-bottom: 0;
  font-size: 30px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}

.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-repeat: repeat-x;
  border: 0px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}